#### Functions in Python
This Notebook Outline:

1. Introduction to Functions
2. Defining Functions
3. Calling Functions
4. Function Parameters
5. Default Parameters
6. Variable-Length Arguments
7. Return Statement

##### Introduction to Functions
Definition:

A function is a block of code that performs a specific task. Functions help in organizing code, reusing code, and improving readability.

In [1]:
## Syntax
def function_name(parameterds):
    """Docsting"""
    #Function Body
    return expression

In [2]:
# Why functions?
# 1. Reusability
# 2. Modularity
# 3. Readability
# 4. Maintainability

# Example
num = 24
if num%2 == 0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

24 is even

In [3]:
def is_even_or_odd(number):
    """This function find even or odd"""
    if number%2 == 0:
        return f"{number} is even"
    else:
        return f"{number} is odd"

In [6]:
## Call this Function
is_even_or_odd(23)

'23 is odd'

In [5]:
is_even_or_odd(12)

'12 is even'

In [7]:
# Function with Multiple parameters
def add(a,b):
    return a + b

result = add(2,3)
print(result)

5

In [8]:
## Default parameters
def greet(name):
    print(f"Hello {name} Welcome to the paradise")

greet("Vikram")

Hello Vikram Welcome to the paradise

In [11]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome to the paradise")
greet("Bicky")

Hello Bicky Welcome to the paradise

In [12]:
## Variable Length Arguments
## Positional and Keywords arguments

def print_numbers(*Bicky):
    for number in Bicky:
        print(number)

In [13]:
print_numbers(1,2,3,4,5,"Bicky")

1
2
3
4
5
Bicky

In [14]:
# Positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [15]:
print_numbers(1,2,3,4,5, "Vikram")

1
2
3
4
5
Vikram

In [3]:
# Keywords Arguments
def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [4]:
print_details(name="Vikram", age=24, city="Bangalore")

name: Vikram
age: 24
city: Bangalore

In [5]:
def print_details(*args, **kwargs):
    for val in args:
        print(f" positional argument: {val}")

    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [6]:
print_details(1,2,3,4,5,"Bikcy", name="Vikram", age=24, city="Bangalore")

 positional argument: 1
 positional argument: 2
 positional argument: 3
 positional argument: 4
 positional argument: 5
 positional argument: Bikcy
name: Vikram
age: 24
city: Bangalore

In [7]:
# return statement
def multiply(a,b):
    return a*b

In [8]:
multiply(2,5)

10

In [9]:
## Return multiple parameters
def multiply(a,b):
    return a*b, a+b, a/b

In [10]:
multiply(2,4)

(8, 6, 0.5)