# DataTypes

#### 1. Definition:

  1. Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.

  2. They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### 2. Importance of Data Types in Programming

    Explanation:

1. Data types ensure that data is stored in an efficient way.
2. They help in performing correct operations on data.
3. Proper use of data types can prevent errors and bugs in the program.  


#### This Notebook we Study

 1. Introduction to Data Types
 2. Importance of Data Types in Programming
 3. Basic Data Types
      1. Integers
      2. Floating-point numbers
      3. Strings
      4. Booleans 
 4. Advanced Data Types
      1. Lists
      2. Tuples
      3. Sets
      4. Dictionaries
 5. Type Conversion
 6. Practical Examples

In [1]:
## Integer Example
age=35
type(age)

int

In [2]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
## string datatype example
name="Bicky Jha"
print(name)
print(type(name))

Bicky Jha
<class 'str'>

In [4]:
## boolean datatype
is_true=True
type(is_true)

bool

In [5]:
a=10
b=10

type(a==b)

bool

In [6]:
## common errors

result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [7]:
result="Hello" + str(5)
print(result)

Hello5